@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;800&display=swap');


@import url(./styles/contact.css);
@import url(./styles/projects.css);


:root {

  --cor-primaria: #F2F0EB;
  --cor-secundaria: black;
  --cor-tercearia: #FFF0CC;
  --cor-hover: #3fa8dc;

  --fonte-primaria: 'Krona One', sans-serif;
  --fonte-secundaria: 'Montserrat', sans-serif;
  --fonte-tercearia: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--cor-primaria);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 1vw;
  background-color: var(--cor-primaria);
}

.header__menu {
  display: flex;
  justify-content: center;
  padding-left: 10%;
  align-items: center;
  gap: 5vw;
}

.header__menu__link {
  color: var(--cor-secundaria);
  font-family: var(--fonte-secundaria);
  font-size: 1.2vw;
  font-weight: bold;
}

.header__media {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1.8vw;
  align-items: center;
  padding-right: 10%;
}

.header__media__image {
  width: 2.5vw;
  height: 2.5vw;
}

.header__media-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--fonte-secundaria);
  color: var(--cor-secundaria);
  font-size: 1vw;
  gap: 0.4vh;

}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 15vh;
  padding-bottom: 15vh;
  gap: 1vw;
}

.content__image {
  width: 35%;
}

.content__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.content__main__title {
  font-family: var(--fonte-secundaria);
  font-size: 3vw;
  color: var(--cor-hover);
  text-transform: uppercase;
  padding-left: 4%;

}


.content__main__subtitle {
  display: flex;
  font-family: var(--fonte-secundaria);
  font-size: 1.5vw;
  text-transform: uppercase;
  padding-left: 0%;
  padding-bottom: 1.5vh;
}

.content__main__content {
  font-family: var(--fonte-secundaria);
  font-size: 1.5vw;
  padding-left: 7%;


}

.content__secundary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6vh;
  background-color: var(--cor-primaria);
  padding: 10vh 4vw;

}

.content__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5vh;
  padding: 10vh 10vw;
}

.content__about__title {
  font-family: var(--fonte-secundaria);
  font-size: 2.5vw;
  text-transform: uppercase;
  padding-bottom: 4%;
}

.content__about__subtitle {
  font-family: var(--fonte-secundaria);
  font-size: 1.5vw;
}

.content__skills {
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.content__skills__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5vw;
}

.content__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--fonte-secundaria);
  text-transform: uppercase;
  font-size: 2.5vw;
  padding-bottom: 1vh;
}

.content__skills__subtitle {
  font-family: var(--fonte-secundaria);
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills__media {
  width: 10vw;
  padding-bottom: 1vh;
}



.content_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-primaria);
  padding: 2vh 0 3vh 0;
}

.content_footer_title {
  font-family: var(--fonte-secundaria);
  font-size: 1.2vw;
  padding: 1.5vh;
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {

  .header__menu__link {

    font-size: 2.5vw;

  }


  .header__media__image {
    width: 3vw;
    height: 3vw;
  }

  .header__media-container {
    font-size: 1.3vw;
  }



  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 10%;
    padding-top: 35%;
  }


  .content__image {

    width: 50%;
  }

  .content__main__title {
    font-size: 3.8vw;
    padding-right: 8%;
  }

  .content__main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52vw;
  }


  .content__main__subtitle {
    font-size: 2.2vw;
    padding-right: 6%;
  }


  .content__main__content {
    font-family: var(--fonte-secundaria);
    font-size: 2.3vw;
    padding-left: 10%;
  }


  .content__secundary {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content__about__subtitle {
    font-family: var(--fonte-secundaria);
    font-size: 2vw;
  }

  .content__title {
    padding-bottom: 0.1vh;
  }

  .content__skills {
    gap: 2vh;
  }

}