@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;800&display=swap');


@import url(./styles/contact.css);
@import url(./styles/projects.css);


:root {

  --cor-primaria: #F2F0EB;
  --cor-secundaria: black;
  --cor-tercearia: #FFF0CC;
  --cor-hover: #8A816E;

  --fonte-primaria: 'Krona One', sans-serif;
  --fonte-secundaria: 'Montserrat', sans-serif;
  --fonte-tercearia: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}



.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 10px 20px;
  background-color: var(--cor-primaria);
}

.header__image {
  padding: 10px;
  height: 60px;

}

.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header__menu__link {
  color: var(--cor-secundaria);
  font-family: var(--fonte-secundaria);
  font-size: 14px;
  text-decoration: none;
}


.header__download__link {
  font-family: var(--fonte-secundaria);
  text-decoration: none;
  width: fit-content;
  font-size: 10px;
  letter-spacing: 1px;
  color: var(--cor-secundaria);
  border-bottom: 1px solid black;
}



.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 100px 60px;
}

.content__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;


}

.content__main__title {
  font-family: var(--fonte-secundaria);
  font-size: 28px;
  color: var(--cor-hover);
  padding: 10px 0;
  

}

.content__main__subtitle {
  font-family: var(--fonte-tercearia);
  font-size: 18px;

}

.content__main__image {
  height: 90px;
  opacity: .3;

}

.content__media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 80px 60px;
}

.content__media__title {
  font-family: var(--fonte-secundaria);
  font-size: 28px;
  color: var(--cor-hover);
  padding: 20px;
}

.content__media__link {
  font-family: var(--fonte-tercearia);
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: var(--cor-secundaria);
  border: 2px solid var(--cor-hover);
  border-radius: 20px;
  min-width: 150px;
  padding: 15px;
  margin-bottom: 20px;
}

.content__media__link:hover {
  background-color: var(--cor-hover);
}



.content__secundary {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items:flex-start;
  gap: 60px;
  background-color: var(--cor-primaria);
  padding: 100px 60px;
}

.content__about {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  gap: 10px;

}

.content__about__title {
  font-family: var(--fonte-tercearia);
  font-size: 28px;
  text-transform: uppercase;
}

.content__about__subtitle {
  font-family: var(--fonte-primariaa);
  font-size: 18px;
}

.content__skills {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 10px;

}

.content__skills__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__title {
  font-family: var(--fonte-tercearia);
  text-transform: uppercase;
  font-size: 28px;
}

.content__skills__subtitle {
  font-family: var(--fonte-primariaa);
  font-size: 18px;
}


.content_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--cor-primaria);
  padding: 2% 0 3% 0;
}

.content_footer_title {
  font-family: var(--fonte-secundaria);
  font-size: 14px;
  padding: 15px;
}

@media screen and (max-width: 1024px) {

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 30px 0;
    gap: 2px;
  }
  
  .content__main {
    width: 300px;
  }

  .content__media {
  }

  .content__secundary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px 30px 50px;
    
  }

  }




@media screen and (max-width: 1728px) {





}