.content__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 10px 160px 10px;
  gap: 20px;
}


.content__details__text {
display: flex;
flex-direction: column;
justify-content:center;
align-items: center;
width: 50%;




}

.content__details__title {
  font-family: var(--fonte-secundaria);
  font-size: 28px;
  text-transform: uppercase;
  color: var(--cor-hover);
  padding: 20px 0px;
}

.content__details__subtitle {
  font-family: var(--fonte-secundaria);
  font-size: 14px;
  border: 0.4px solid var(--cor-secundaria);
  width: 490px;
  padding: 5px;

}

.content__details__imagem {
  width: 40%;

}

.content_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--cor-primaria);
  padding: 2% 0 3% 0;
}

