* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.project__page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    flex-wrap: wrap;
    padding: 12vh 3vw;
}

.project__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: var(--cor-secundaria);
    width: 25vw;
    height: 20vh;
    padding-right: 2vw;
    border-bottom: 1px solid gray;
    padding-bottom: 80px;
}

.project__content__title {
    font-family: var(--fonte-secundaria);
    color: var(--cor-hover);
    font-size: 1.8vw;
    padding: 0vh 1vw;
    text-transform: uppercase;
}

.project__content__tecnology {
    font-family: var(--fonte-secundaria);
    font-size: 1.3vw;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-transform: uppercase;
    padding: 0 1vw;
}

.project__content__subtitle {
    font-family: var(--fonte-secundaria);
    font-size: 1.2vw;
    color: var(--cor-secundaria);
    padding: 1vh 1vw;
}

.project__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    padding: 0.2vh 1vw;
    
}

.project__button__link {
    font-family: var(--fonte-secundaria);
    font-size: 1vw;
    color: var(--cor-secundaria);
    text-decoration: none;
    border: 1px solid var(--cor-secundaria);
    border-radius: 2vw;
    padding: 0.3vh 1vw;
 
}

.project__button__link:hover {
    background-color: var(--cor-hover);
}

.project__image {
    width: 10vw;
    padding: 0 1.5vw 0 0;
}

.content_footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--cor-primaria);
    padding: 2vh 0 3vh 0;
}


@media screen and (max-width: 1024px) {


    .project__content {
        width: 250px;
        height: 80px;
        padding-right: 10px;
        border-bottom: 1px solid gray;
        padding-bottom: 10vh;

    }

    .project__content__title {
        font-size: 14px;
    }

    .project__content__tecnology {
        font-size: 12px;
        
    }
    
    .project__content__subtitle {
        font-size: 11px;

    }

}