* {
    margin: 0;
    padding: 0;
}




.project__page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;   
    padding: 80px 20px ;




}

.project__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    font-family: var(--cor-secundaria);
    width: 500px;
    height: 300px ;
    border-bottom: 1px solid gray;padding-bottom: 20px;

}

.project__content__title {
    font-family: var(--fonte-secundaria);
    color: var(--cor-hover);
    font-size: 32px;
    padding: 10px 10px;
    
}

.project__content__tecnology {
    font-family: var(--fonte-tercearia);
    color: var(--cor-secundaria);
    font-size: 18px;
    padding: 0 10px;
}

.project__content__subtitle {
    font-family: var(--fonte-tercearia);
    color: var(--cor-secundaria);
    font-size: 18px;
    padding: 10px;

}



.project__buttom {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 5% 0 0 0;
    gap: 20px;
    padding: 10px;

}

.project__buttom__link {
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
    text-decoration: none;
    border: 1px solid var(--cor-secundaria);
    border-radius: 10px;
    padding: 5px;
}

.project__buttom__link:hover {
    background-color: var(--cor-hover);
}



.project__image {
    width: 150px;
    padding: 0 15px 0 0;
}