* {
    margin: 0;
    padding: 0;
}



.project__page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 5% 20% 10% 20%;
   

}

.project__content1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--cor-secundaria);
    gap: 2px;
}

.project__content__title {
    font-family: var(--fonte-secundaria);
    color: var(--cor-hover);
    font-size: 32px;
}

.project__content__tecnology {
    font-family: var(--fonte-tercearia);
    color: var(--cor-secundaria);
    font-size: 18px;
}

.project__content__subtitle {
    font-family: var(--fonte-tercearia);
    color: var(--cor-secundaria);
    font-size: 18px;
}

.project__content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--cor-secundaria);
}

.project__buttom {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 5% 0 0 0;
    gap: 20px;
}

.project__buttom__link {
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
    text-decoration: none;
    border: 1px solid var(--cor-secundaria);
    border-radius: 10px;
    padding: 5px;
}

.project__buttom__link:hover {
    background-color: var(--cor-hover);
}



.project__image {
    width: 150px;
    padding: 0 15px 0 0 ;
}